h1,
h2,
p,
a {
  font-family: "DM Sans", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px 0 0 0;
  font-size: 14px;
  margin-top: 70px;
  text-align: center;
  color: #27214266;
  line-height: 18px;
  border-top: 1px solid #f9f7fe;
}

footer a {
  color: #885df1;
  text-decoration: none;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #6c45cf;
  text-decoration: underline;
}

.sa-logo {
  width: 50px;
  margin-left: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f7fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  width: 900px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #f9f7fe;
}

.logo-container {
  display: flex;
  align-items: flex-start;
}

.app-logo {
  width: 150px;
  margin-top: -30px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.search-bar {
  flex: 1;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  max-width: 250px;
  background-color: #f9f7fe;
  font-family: "DM Sans", sans-serif;
}

.search-btn {
  background-color: #fb9f2a;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.search-btn:hover {
  background-color: #df8c1f;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.weather-info {
  text-align: left;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-temperature {
  font-size: 88px;
  font-weight: bold;
  color: #212121;
  margin-left: auto;
  font-family: "DM Sans", sans-serif;
}

.weather-icon img {
  width: 85px;
  height: auto;
  margin: 15px auto;
}

.metric {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 20px;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 45px;
  margin-bottom: 5px;
  color: #212121;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.weather-info p {
  color: #27214266;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}

.weather-info p strong {
  color: #f7618d;
}

.weekly-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.day img {
  width: 50px;
  height: auto;
  margin: 15px auto;
}

.day p {
  font-size: 16px;
  color: #27214266;
  margin: 0;
}

.day p strong {
  color: #f7618d;
  font-size: 18px;
}

.day p span {
  color: #f7618d;
  opacity: 0.6;
  margin-left: 5px;
}
